my-sub-workflow-1-2t28T4KgmLxae3au.json
{"updatedAt":"2026-02-24T20:01:28.422Z","createdAt":"2026-02-24T16:56:21.362Z","id":"2t28T4KgmLxae3au","name":"My Sub-Workflow 1","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n    \"ok\": true,\n    \"channel\": \"C0AGV4RRU1Y\",\n    \"message\": {\n      \"user\": \"U0AGYJ6H08L\",\n      \"type\": \"message\",\n      \"ts\": \"1771952994.544749\",\n      \"bot_id\": \"B0AGYK96V4L\",\n      \"app_id\": \"A0AH7TPF0U9\",\n      \"text\": \":white_check_mark: Backup has completed - 3 workflows have been processed.\\n_Automated with this <https://automazioni.aiworkflowlab.xyz/workflow/dsaky9hA62rLess3?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_39195acc32389dc92a2fb014b44d712215cf7fde58bcc6632aa0cc230af936f5|n8n workflow>_\",\n      \"team\": \"T0AH7T83LQH\",\n      \"bot_profile\": {\n        \"id\": \"B0AGYK96V4L\",\n        \"app_id\": \"A0AH7TPF0U9\",\n        \"name\": \"Github Backup\",\n        \"icons\": {\n          \"image_36\": \"https://a.slack-edge.com/80588/img/plugins/app/bot_36.png\",\n          \"image_48\": \"https://a.slack-edge.com/80588/img/plugins/app/bot_48.png\",\n          \"image_72\": \"https://a.slack-edge.com/80588/img/plugins/app/service_72.png\"\n        },\n        \"deleted\": false,\n        \"updated\": 1771949601,\n        \"team_id\": \"T0AH7T83LQH\"\n      },\n      \"blocks\": [\n        {\n          \"type\": \"rich_text\",\n          \"block_id\": \"TlnIk\",\n          \"elements\": [\n            {\n              \"type\": \"rich_text_section\",\n              \"elements\": [\n                {\n                  \"type\": \"emoji\",\n                  \"name\": \"white_check_mark\",\n                  \"unicode\": \"2705\"\n                },\n                {\n                  \"type\": \"text\",\n                  \"text\": \" Backup has completed - 3 workflows have been processed.\\n\"\n                },\n                {\n                  \"type\": \"text\",\n                  \"text\": \"Automated with this \",\n                  \"style\": {\n                    \"italic\": true\n                  }\n                },\n                {\n                  \"type\": \"link\",\n                  \"url\": \"https://automazioni.aiworkflowlab.xyz/workflow/dsaky9hA62rLess3?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_39195acc32389dc92a2fb014b44d712215cf7fde58bcc6632aa0cc230af936f5\",\n                  \"text\": \"n8n workflow\",\n                  \"style\": {\n                    \"italic\": true\n                  }\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    \"message_timestamp\": \"1771952994.544749\"\n  }"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-80,80],"notesInFlow":false,"alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"fe5b731a-fbd2-452a-b0e0-50d409f7bbcb","name":"Return","type":"n8n-nodes-base.set","position":[1824,-48],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"2bdb41fe-decc-4700-9174-8f8425c1a564","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[784,-176],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"92387cf1-66df-4e13-9866-20be902699a8","name":"If file too large","type":"n8n-nodes-base.if","position":[544,-160],"typeVersion":2},{"parameters":{},"id":"b4afaaba-0699-427d-bcf3-8718156b0073","name":"Merge Items","type":"n8n-nodes-base.merge","position":[544,112],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"5b24ea29-9e87-4aed-a60c-a1d961cb5f14","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[736,112],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"16d0d111-9d6e-4481-88d7-1cb0e4669e4b","name":"Check Status","type":"n8n-nodes-base.switch","position":[1136,112],"typeVersion":1},{"parameters":{},"id":"b68d68ad-b01e-4979-bc93-d1f743441410","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1360,-48],"typeVersion":1},{"parameters":{},"id":"2db1c085-0e8e-42fc-978b-be47a5caa0a1","name":"File is different","type":"n8n-nodes-base.noOp","position":[1360,112],"typeVersion":1},{"parameters":{},"id":"f9c9aa3a-1c56-403c-bb95-1864e16173e3","name":"File is new","type":"n8n-nodes-base.noOp","position":[1360,304],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('When Executed by Another Workflow').first().json.name}} ({{$json.github_status}})"},"id":"f0a4499d-78b9-4536-911d-6174915ef5f8","name":"Create new file","type":"n8n-nodes-base.github","position":[1584,304],"typeVersion":1,"webhookId":"2c9eb3a1-b43b-42cc-af6d-4a9c07d547d3","credentials":{"githubApi":{"id":"QgVMvNeLOEpexOwK","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('When Executed by Another Workflow').first().json.name}} ({{$json.github_status}})"},"id":"167bb2e3-0e72-4740-8279-51c7218de196","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1584,112],"typeVersion":1,"webhookId":"8474f4cb-9cf0-407c-af25-38f976d9f188","credentials":{"githubApi":{"id":"QgVMvNeLOEpexOwK","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('When Executed by Another Workflow').first().json.createdAt.split('-')[0] }}/{{ $('When Executed by Another Workflow').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"e22854d4-6a6d-4596-a4d5-57d79fa3398b","name":"Create sub path","type":"n8n-nodes-base.set","position":[944,112],"typeVersion":3.3},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('When Executed by Another Workflow').first().json.createdAt.split('-')[0] }}/{{ $('When Executed by Another Workflow').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"f234da7e-24bb-48a6-8583-1c839000d1bd","name":"Get file data","type":"n8n-nodes-base.github","position":[336,-160],"typeVersion":1,"alwaysOutputData":true,"webhookId":"4e2e8dad-95cb-49dc-b6aa-adf5f2fc32f1","credentials":{"githubApi":{"id":"QgVMvNeLOEpexOwK","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"={{ $vars.repo_owner }}"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"={{ $vars.repo_name }}"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"={{ $vars.repo_path }}"}]},"includeOtherFields":true,"options":{}},"id":"5e8e3142-cb35-40fe-b233-c97ac45a8a34","name":"Config","type":"n8n-nodes-base.set","position":[336,128],"typeVersion":3.4}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Config","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"5ab30b87-db4c-4056-9e1c-d14c6f24a715","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T16:56:21.362Z","createdAt":"2026-02-24T16:56:21.362Z","role":"workflow:owner","workflowId":"2t28T4KgmLxae3au","projectId":"mk98uGl5LoZOyCxr"}],"activeVersion":null,"tags":[]}