save_your_workflows_into_a_github_repository-42ylnvkEKto7eL7J.json
{"updatedAt":"2026-02-24T17:51:55.666Z","createdAt":"2026-02-24T17:21:27.288Z","id":"42ylnvkEKto7eL7J","name":"Save_your_workflows_into_a_GitHub_repository","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"f53d60d2-897a-4fc6-bada-c784633c0d7c","name":"Return","type":"n8n-nodes-base.set","position":[1552,608],"typeVersion":3.3},{"parameters":{},"id":"b3e6c864-a5aa-4a06-8e8c-d8c3ed121d97","name":"Merge Items","type":"n8n-nodes-base.merge","position":[672,400],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"6ab90ff0-4232-4ba1-8aa8-3d2b35249e29","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[880,400],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $('Config').item.json.sub_path }}/{{$('Loop Over Items').item.json.name}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Loop Over Items').item.json.name}} ({{$json.github_status}})"},"id":"5661c7fc-9c2f-4a85-a8fd-2ec1e0ad0742","name":"Create new file","type":"n8n-nodes-base.github","position":[1328,400],"webhookId":"b440dead-fad0-4546-8ca7-201aa2ea2936","typeVersion":1,"credentials":{"githubApi":{"id":"QgVMvNeLOEpexOwK","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"n8n-workflows"},"filePath":"={{ $('Config').item.json.sub_path }}/{{$('Loop Over Items').item.json.name}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Loop Over Items').item.json.name}} ({{$json.github_status}})"},"id":"088abf75-c9b4-4b00-90f8-1741b8a5c2cc","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1328,208],"webhookId":"1dfc4103-7c23-4814-a0b5-dd4f5a96d36b","typeVersion":1,"credentials":{"githubApi":{"id":"QgVMvNeLOEpexOwK","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"bb64ed2c-5193-4b8f-a9e8-55cb83ea244c","operator":{"type":"dateTime","operation":"afterOrEquals"},"leftValue":"={{ $json.updatedAt }}","rightValue":"={{ $now.minus({ minutes: 30 }) }}\n"}],"combinator":"and"},"options":{}},"id":"740bfa39-0c38-4b49-a630-c8eb65725634","name":"Filter","type":"n8n-nodes-base.filter","position":[-448,400],"typeVersion":2.2},{"parameters":{"content":"# Links\n- ## [Github Folder](https://github.com/AndrewBoichenko/n8n-workflows/)","height":120,"width":400},"id":"865bcf09-6b6d-4b35-bf00-b66841be78ef","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1808,240],"typeVersion":1},{"parameters":{"content":"# How it works \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `repo_path` for the directory path and `ID.json` for the filename.\nThe Repo Owner, Repo Name and Main folder are set using the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\nPlease check out my other items on [gumroad](https://boanse.gumroad.com/?section=k_Sn6LcT_dzJFnp5jmsM5A%3D%3D)\nYou might also like something else☺️","height":340,"width":400},"id":"a069e5d3-60bc-4eda-98fc-ee6bf678315d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1808,400],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6655f56f-b447-43eb-84a2-be8b71524af7","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{$json.github_status}}","rightValue":"different"}]},"renameOutput":true,"outputKey":"Different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"fd0fcdea-e8c0-42be-ba51-5cd2b71ed247","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{$json.github_status}}","rightValue":"new"}]},"renameOutput":true,"outputKey":"New"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"ca3b1c68-d756-4de5-b69b-147526e19e35","operator":{"type":"string","operation":"equals"},"leftValue":"={{$json.github_status}}","rightValue":"same"}]},"renameOutput":true,"outputKey":"Same"}]},"options":{}},"id":"256d6a87-4852-419c-9c7a-484bdae4d1ee","name":"Switch","type":"n8n-nodes-base.switch","position":[1104,400],"typeVersion":3.2},{"parameters":{"filters":{},"requestOptions":{}},"id":"0ff1854e-c375-4a3e-9488-ff0e7f75e772","name":"Get Workflows","type":"n8n-nodes-base.n8n","position":[-656,400],"typeVersion":1,"credentials":{"n8nApi":{"id":"wIPtABnyFqn3f8by","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"03f51f9c-4681-4423-91d2-d32f4c18d6bc","name":"repo_owner","type":"string","value":"AiWorkflow-Lab"},{"id":"0c9b521a-b698-4b43-9eb0-bbf744760158","name":"repo_name","type":"string","value":"n8n-workflows"},{"id":"91627e70-a71a-4be0-a6f6-b04d5c8469d8","name":"=repo_path","type":"string","value":"{{ $now.toFormat('yyyy/MM') }}"},{"id":"983a2c87-9d69-4d64-ab88-ec1b1117c6e6","name":"=sub_path","type":"string","value":"folder"}]},"includeOtherFields":true,"options":{}},"id":"9a1c8e41-edf6-405b-96b8-ee5157b1e09d","name":"Config","type":"n8n-nodes-base.set","position":[-880,400],"typeVersion":3.4},{"parameters":{"rule":{"interval":[{}]}},"id":"5c8f1416-ab6c-4dfa-8e9b-4561c590e432","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1328,400],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"628f6e8f-d817-4c53-89ec-b1acbb3dfef8","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"63fc68bb-63d0-40a8-92e4-2a62b5a71812","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"01fe1cb9-d400-4910-bcdf-fafbbb107988","name":"Is File too large?","type":"n8n-nodes-base.if","position":[224,208],"typeVersion":2.2},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"2560a83a-5b10-4e61-87c0-9d2ca3e450a9","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[448,208],"typeVersion":4.2},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=Information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"b2c9ed4c-8af5-4af2-9b0e-a4c35e4f9a80","name":"Starting Message","type":"n8n-nodes-base.slack","position":[-1104,400],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2,"disabled":true},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=✅ Backup has completed - {{ $('Get Workflows').all().length }} workflows have been processed.","otherOptions":{}},"id":"c8689b69-f35e-4cf7-98d4-2efb3839faa1","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[0,0],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2,"disabled":true},{"parameters":{"options":{}},"id":"37d5e1b1-c9df-433d-92b6-e4508e99a4ce","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-224,400],"typeVersion":3},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $('Config').item.json.repo_name }}.json"},"id":"a0396bd7-914b-41f3-a136-7646b72f03e3","name":"Create a file","type":"n8n-nodes-base.github","position":[0,208],"webhookId":"c12420d3-b858-4ee4-81c4-9adc03e30865","typeVersion":1.1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"QgVMvNeLOEpexOwK","name":"GitHub account"}},"onError":"continueRegularOutput"}],"connections":{"Config":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Return":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit existing file","type":"main","index":0}],[{"node":"Create new file","type":"main","index":0}],[{"node":"Return","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"Config","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Is File too large?":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Is File too large?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"1a18e926-7944-4987-92a3-c8ecd8b77b6e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T17:21:27.288Z","createdAt":"2026-02-24T17:21:27.288Z","role":"workflow:owner","workflowId":"42ylnvkEKto7eL7J","projectId":"mk98uGl5LoZOyCxr"}],"activeVersion":null,"tags":[]}